---
import Layout from '../layouts/Layout.astro';
import LinkedInFrameMaker from '../components/LinkedInFrameMaker.astro';
---

<Layout title="Generate Badge | AI Connect Kerala" description="Create and download your AI Connect Keralam LinkedIn badge.">
  <main id="main">
    <LinkedInFrameMaker />
  </main>
</Layout>
